body{
    background-color: none;
    background-image: linear-gradient(62deg, #0093e9 0%, #80d0c7 100%);
}
*{
	margin: 0;
	padding: 0;
}
.logo {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 130px; /* adjust the width and height as needed */
    height: 80px;
}

.clouds{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    overflow: hidden;
    pointer-events: none;
}

.clouds img
{
    position: absolute;
    bottom: 0;
    max-width: 100%;
    pointer-events: none;
    opacity: 0.5;
    animation: animate calc(8s * var(--i)) linear infinite;
}
@keyframes animate
{
    0%
    {
        transform: translateX(-100%);
    }
    100%
    {
        transform: translateX(100%);
    }
    
}

.main-image {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 75vh;
  /* z-index: 0; */
  width: 100%;
  /* animation: rotate_image 4s linear infinite; */
}

model-viewer{
  width:100%;
  height:100%;
  background-color:transparent;
  margin-top: -10%;
}
